// ==================== 全局样式 ====================

// 基础重置
* {
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  font-family: -apple-system, "PingFang SC", "Hiragino Sans GB",
    "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;

  &::-webkit-scrollbar {
    display: none;
  }
}

html,
body {
  padding: 0;
  margin: 0;
}
