// ==================== 全局样式 ====================
@import url("https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap");

// 基础重置
* {
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  font-family: "ZCOOL KuaiLe", sans-serif;

  &::-webkit-scrollbar {
    display: none;
  }
}

html,
body {
  padding: 0;
  margin: 0;
}
